
<div class="col-sm-4">
    <div class="form-group">
        <label class="control-label">粉丝数 <small class="text-muted"> (单位：万)</small></label>
        <div class="row">
            <div class="col-md-12">
                <div class="input-daterange input-group">
                    <input type="number" name="FansNumStart" id="FansNumStart" value="" class="form-control" />
                    <span class="input-group-addon">至</span>
                    <div class="input-group">
                        <input type="number" name="FansNumEnd" id="FansNumEnd" value="" class="form-control" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary btn-outline" onclick="searchTable();">
                                确定
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>