@using Ada.Core.Infrastructure
@using Ada.Services.Admin

@{
    var fieldService = EngineContext.Current.Resolve<IFieldService>();
    var platformPriceType = fieldService.GetFieldsByKey("PlatformPriceType").Select(d => new { text = d.Text, value = d.Value });
}
<div class="modal inmodal" id="uploadModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">导入更新媒体资源</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>导入文件</label>
                    <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                        <div class="form-control" data-trigger="fileinput">
                            <i class="glyphicon glyphicon-file fileinput-exists"></i>
                            <span class="fileinput-filename"></span>
                        </div>
                        <span class="input-group-addon btn btn-default btn-file">
                            <span class="fileinput-new">选择</span>
                            <span class="fileinput-exists">更换</span>
                            <input type="file" name="upfile" id="upfile" />
                        </span>
                        <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">移除</a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                <button type="button" class="ladda-button btn btn-primary" onclick="upLoadFile();" data-style="zoom-in">导入</button>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal" id="priceModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">批量更新第三方平台报价</h4>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label>报价平台</label>
                    <select id="pricePlatform" class="form-control">
                        <option value="">请选择</option>
                        @foreach (var item in platformPriceType)
                        {
                            <option value="@item.value">@item.text</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label>更新文件</label>
                    <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                        <div class="form-control" data-trigger="fileinput">
                            <i class="glyphicon glyphicon-file fileinput-exists"></i>
                            <span class="fileinput-filename"></span>
                        </div>
                        <span class="input-group-addon btn btn-default btn-file">
                            <span class="fileinput-new">选择</span>
                            <span class="fileinput-exists">更换</span>
                            <input type="file" name="upfile" id="pricefile" />
                        </span>
                        <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">移除</a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" onclick="priceUpdate();">导出资源</button>
                <button type="button" class="ladda-button btn btn-warning" onclick="priceUpdate(true);" data-style="zoom-in">更新导入</button>
            </div>
        </div>
    </div>
</div>
