
<div id="tab-6" class="tab-pane">
    <div class="panel-body">
        <div id="toolbar" class="btn-group m-b-lg">
            <button id="btn_add" type="button" class="btn btn-primary btn-outline btn-sm">
                <i class="fa fa-plus"></i> 添加报价
            </button>
        </div>
        <table id="tablePrice"></table>
    </div>
</div>
