@using Ada.Core.Infrastructure
@using Ada.Core.ViewModel.Setting
@using Ada.Services.Setting
@{
    var setting = EngineContext.Current.Resolve<ISettingService>().GetSetting<Site>();
}
<div class="footer">
    <div class="pull-right">
        版本号：V 1.0
    </div>
    <div>
        <strong>版权：</strong> @setting.CompanyName &copy;
    </div>
</div>
