<div class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
          <div class="col-sm-12">
            <h3 class="text-center">修改密码</h3>
            <hr />
            @using (Html.BeginForm("ChangePassword", "Manager", new { area = "Admin" }))
            {
                <div class="form-group">
                  <label>旧密码</label>
                  <input type="password" class="form-control" name="old" required="">
                </div>
                            <div class="form-group">
                              <label>新密码</label>
                              <input type="password" class="form-control" name="fresh" required="">
                            </div>
                            <div class="form-group">
                              <label>确认密码</label>
                              <input type="password" class="form-control" name="refresh" required="">
                            </div>
                            <div>
                              <button class="btn btn-primary m-t-n-xs" type="submit"><strong>修改</strong></button>
                            </div>
            }
          </div>

        </div>
            </div>
        </div>
    </div>
</div>