@using Ada.Core.Tools
@model Ada.Core.Domain.Admin.Manager
@{
    var todays = Model.ManagerLoginLogs.Where(l => l.LoginTime >= DateTime.Now.Date && l.LoginTime < DateTime.Now.AddDays(1).Date).ToList();
}

<div class="modal inmodal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">今日登陆记录</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        设备信息
                                    </th>
                                    <th>
                                        登陆时间
                                    </th>
                                    <th>
                                        登陆IP
                                    </th>
                                    <th>
                                        地理位置
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in todays)
                                {
                                    <tr>
                                        <td>@Utils.GetClientByUserAgent(item.WebInfo)</td>
                                        <td>@item.LoginTime</td>
                                        <td>@item.IpAddress</td>
                                        <td>@Utils.GetAreaByIp(item.IpAddress)</td>
                                    </tr>
                                }


                            </tbody>
                        </table>
                    </div>
                </div>
                


            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
