/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'PingFang Bold';
    src: url('../font/PingFang Bold.ttf');
}
@font-face {
    font-family: 'PingFang Medium';
    src: url('../font/PingFang Medium.ttf');
}
@font-face {
    font-family: 'SFUIText Regular';
    src: url('../font/SFUIText-Regular.otf');
}
@font-face {
    font-family: 'system_fontmedium';
    src: url('../font/sfuitext-medium.woff2') format('woff2'), url('sfuitext-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*html{background: url("../../img/iphone/IMG_5458.PNG")no-repeat;}*/
/*.main{opacity: 0.6;}*/

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    width: 1242px;
}
body {
    font-family:'PingFang Medium';
}
.main{
    background: #FFFFFF;
    width: 1242px;
    height: 2208px;
    OVERFLOW-X: hidden;
}
.photo{
    background: url("../img/photo.jpg")no-repeat;
    width: 1242px;
    height:  960px;
    margin-bottom: 146px;
}

/**
light
 */
.top.light {
    background: -webkit-linear-gradient(top, rgba(243, 243, 243, 0.99), rgba(243, 243, 243, 1));
    opacity: 1;
    border-bottom: 1px #e5e5e5 solid;
}
.light .signal{
    background: url("../img/Signal_light.png") top left no-repeat;
}
.light .batteryIcon1{
    background: url("../img/Battery_light2.png")no-repeat;
}
.light .battery1{
    background: url("../img/Battery_light1.png")no-repeat;
}
.light .battery3{
     color: #000;
 }
.light .titleBarTitle{
    display: inline-block;
    color: #000;
}
.light .backArrowTitle{
     color: #000;
 }
.light .operator{
    color: #000;
}
.light .network{
    background: url("../img/network_light.png") top left no-repeat;
    background-size: 42px 30px;
}
.light .time{
    color: #000;
}
.light .settingsIcon{
    background: url("../img/SettingsIcon2.png")no-repeat;
}
.light .backArrow{
    background: url("../img/BackArrow2.png") no-repeat;
}
.light .camera{
    background: url("../img/camera2.png") no-repeat;
}

.top{
    background: -webkit-linear-gradient(top, rgba(243, 243, 243, 0.48), rgba(243, 243, 243, 0));
    opacity: 0.99;
    width:1242px;
    height:  192px;
    position: fixed;
    top: 0;
    z-index: 9;
}
.details .top{
    background: rgb(59, 58, 62);
    opacity: 1;
}
.startBar{
    height:  73px;
    width: 100%;
}
.elements{
    display: inline-block;
    float: right;
    margin-top: 10px;
}
.settingsIcon{
    background: url("../img/SettingsIcon.png")no-repeat;
    width: 49px;
    height: 41px;
}
.lock{
    display: inline-block;
    background-position: -0 -0!important;
}
.location{
    display: inline-block;
    background-position: -51px 0!important;
}
.alarm{
    display: inline-block;
    background-position: -99px 0!important;
}
.bluetooth{
    display: inline-block;
    background-position: -145px 0!important;
}
.signal{
    background: url("../img/Signal_dark.png") top left no-repeat;
    background-size:48px 116px;
    width: 48px;
    height: 29px;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    margin:17px 0 0 19px;
}
.signal.light{
    background: url("../img/Signal_light.png") top left no-repeat;
}
.signal_5{
    background-position: -0px -0px;
}
.signal_4{
    background-position: -0px -0px;
}
.signal_3{
    background-position: -0px -29px;
}
.signal_2{
    background-position: -0px -58px;
}
.signal_1{
    background-position: -0px -87px;
}
.operator{
    margin: 6px 0 0 4px;
    color: #FFF;
    display: inline-block;
    font-size: 36px;
}
.network{
    background: url("../img/network_dark.png") top left no-repeat;
    background-size: 42px 30px;
    width: 42px;
    height: 30px;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    margin: 15px 0 0 10px;
}
.networkText{
    color: #FFF;
    font-size: 36px;
    margin:0 0 0 10px;
}
.network_1{
    background-position: -0px -0px;
}
.time{
    color: #FFF;
    font-family: 'system_fontmedium';
    font-size: 36px;
    padding-left: 298px;
}
.battery1{
    background: url("../img/Battery_dark1.png")no-repeat;
    width: 80px;
    height: 34px;
    float: right;
    margin: 14px 17px 0 0;
    position: relative;
}
.battery2{
    width: 60px;
    height: 22px;
    left: 6px;
    top: 6px;
    position: absolute;
}
.batteryIcon1{
    background: url("../img/Battery_dark2.png")no-repeat;
}
.batteryIcon2{
    background: url("../img/battery3.png")no-repeat;
}
.battery3{
    font-family: 'SFUIText Regular';
    color: #FFF;
    float: right;
    font-size: 36px;
    display: inline-block;
    margin: 7px 10px 0 0;
}

.shadow{
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.02) 0%,rgba(0, 0, 0, 0.3) 100%);
    width:1242px;
    height: 100px;
    position: absolute;
    top: 860px;
}
.uName{
    font-family: 'PingFang Bold';
    font-size: 60px;
    color: #FFF;
    text-shadow: #212227 0 2px 0;
    bottom: 22px;
    right: 320px;
    position: absolute;
    letter-spacing: 1px;
}
.uAvatar{
    width: 210px;
    height:210px;
    border: 2px solid #d4d4d4 ;
    right: 27px;
    bottom: -70px;
    position: absolute;
    padding: 6px;
    background-color: #FFF;
    -webkit-box-shadow: #d4d4d4 0px 0px 5px;
    -moz-box-shadow: #d4d4d4 0px 0px 5px;
    box-shadow: #d4d4d4 0px 0px 5px;
}
.uAvatar img{
    width: 210px;
    height:210px;
}
.emoji{
    width: 56px;
    height: 56px;
    /*margin-top: 1px;*/
    vertical-align:bottom;
}
.titleBar{
    padding: 15px 0 21px 0;
}
.backArrow{
    background: url("../img/BackArrow.png") no-repeat;
    width: 35px;
    height: 59px;
    display: inline-block;
    vertical-align: top;
    margin-left: 42px;
    margin-top: 2px;
}
.backArrowTitle{
    color: #FFF;
    font-size: 48px;
    letter-spacing: 1px;
    margin: 0 0 0 4px;
}
.ArrowTitle1{
    margin-left: 4px;
}
.ArrowTitle2{
    margin-left: 10px;
}
.backArrowTitleDone{
    color: #20d81f;
    font-size: 48px;
    letter-spacing: 1px;
    padding-left: 20px;
}
.titleArrow{
    width: 340px;
    display: inline-block;
}
.titleBarTitle{
    width: 550px;
    display: none;
    color: #FFF;
    font-size: 54px;
    letter-spacing: 1px;
    text-align: center;
}
.details .titleBarTitle{
    width: 570px;
    display: inline-block;
}
.titleBarIcon{
    width: 119px;
    display: inline;
}
.camera{
    background: url("../img/camera.png") no-repeat;
    width: 66px;
    height: 52px;
    margin: 12px 54px 0 0;
    float: right;
}
.placeholder{
    padding-top: 128px;
}
.placeholder2{
    padding-top: 138px;
}
.content1{
    padding-top: 46px;
    overflow:hidden
}
.content2{
    padding-top: 91px;
    overflow:hidden
}
.contentLeft1{
    float: left;
    width: 220px;
}
.contentRight1{
    float: left;
    width: 960px;
}
.contentLeft2{
    float: left;
    width: 186px;
}
.contentRight2{
    float: left;
    width: 1017px;
}
.line{
    padding-top: 44px;
    border-bottom: 1px solid #e0e0e2;
}
.line2 {
    padding-top: 30px;
    border-bottom: 1px solid #e0e0e2;
    margin-left: 50px;
    margin-right: 10px;
}
.cAvatar1{
    padding: 2px 0 0 57px;
}
.cAvatar1 img{
    width:129px;
    height: 129px;
}
.cAvatar2{
    padding: 2px 0 0 36px;
}
.cAvatar2 img{
    width:120px;
    height: 120px;
}
.cName{
    font-family:  'PingFang Bold';
    color: #576b95;
    font-size: 46px;
}
.cContent{
    padding-bottom: 24px;
    color: #111111;
    font-size: 46px;
}
.cContent1{
    padding-top: 18px;
    width: 930px;
}
.cContent2{
    padding-top: 12px;
    width: 976px;
}
.cContent P{
    word-wrap:break-word;
    word-break:normal;
    line-height: 56px;
}
.cLink{
    width: 966px;
    height: 152px;
    background: #f3f3f5;
    margin-top: 15px;
    display: table;
    overflow: hidden;
    margin-bottom: -23px;
}
.cLinkImg{
    padding:14px;
    width: 120px;
    height: 120px;
    float: left;
}
.cLinkImg img{
    width: 120px;
    height: 120px;
}
.cLinkContent {
    color: #000;
    font-size: 44px;
    vertical-align: middle;
    /*display: table-cell;*/
    padding-left: 5px;
    margin-top: 32px;
}
.cSite{
    color: #576b95;
    font-size: 34px;
    padding-bottom: 13px;
}
.cOthers{
    overflow: hidden;
}
.cOthers2{
    padding-top: 10px;
}
.cTime{
    color: #737373;
    font-size: 34px;
    float: left;
}
.cSource{
    color: #737373;
    font-size: 34px;
    float: left;
    padding-left: 18px;
}
.cDel{
    color: #576b95;
    font-size: 34px;
    float: left;
    padding-left: 58px;
}
.cDel2{
    padding-left: 22px;
}
.cFullText{
    color: #576b95;
    padding: 10px 0;
}
.cCommentIcon{
    float: right;
    width: 59px;
    height:43px;
    background: url("../img/CommentIcon.png") no-repeat;
    margin: 3px 3px 0 0;
}
.cCommentIcon2{
    margin-right: 13px;
}
.cComment1{
    margin: 12px 0 0 -3px;
}
.cComment2{
    padding-left: 31px;
    padding-right: 41px;
    margin-top: 34px;
}
.cCommentCont{
    font-size: 42px;
    background: url("../img/Comment.png") no-repeat 34px 60px;
    padding: 0 10px 10px 48px;
}
.cCommentArrow{
    width:0;
    height:0;
    border-left:22px solid transparent;
    border-right:22px solid transparent;
    border-bottom:22px solid #f3f3f5;
    margin-left: 24px;
}
.cCommentBox{
    background: #f3f3f5;
    padding-bottom: 7px;
}
.cCommentRow{
    padding: 6px 18px 0 28px;
}
.cCommentRow2{
    padding-left: 50px;
    padding-top: 16px;
    overflow: hidden;
}
.cCommentLeft{
    float: left;
}
.cCommentRight{
    float: left;
    width: 926px;
    padding-left: 11px;
    margin-top: -5px;
}
.cCommentBox .isPraise1{
    border-top:1px solid #e0e0e2;
}
.cCommentBox .isPraise2{
    border-top:1px solid #e0e0e2;
    padding-top: 27px;
}
.cCommentAvatar img{
    width: 105px;
    height: 105px;
}
.cCommentName{
    font-family:  'PingFang Bold';
    color: #576b95;
    font-size: 42px;
}
.cCommentTime{
    float: right;
    color: #737373;
    font-family: 'PingFang Medium';
    font-size: 36px;
    margin-top: 6px;
}
.inline{
    display: inline;
}
.cCommentContent{
    color: #000;
    font-size: 42px;
    display: inline;
}
.cCommentPraise{
    font-family: 'PingFang Bold';
    color: #576b95;
    font-size: 42px;
}
.cCommentHeart1{
    background: url("../img/heart.png") no-repeat 36px 23px;
}
.cCommentHeart2{
    background: url("../img/heart.png") no-repeat 34px 61px;
}
.PraiseName{
    padding: 9px 10px 10px 46px;
    word-wrap: break-word;
    text-indent: 46px;
}
.PraiseAvatar{
    padding: 24px 10px 10px 104px;
}
.cCommentPraise img{
    width: 105px;
    height: 105px;
    padding-right: 0px;
}
.reply{
    font-family:  'PingFang Medium';
    color: #000;
    font-size: 42px;
}
.div{
    font-family:  'PingFang Medium';
    color: #000;
    font-size: 42px;
    padding-right: 13px;
    padding-left: 8px;
}
.cContentPic{
    padding-top: 15px;
}
.cContentPic .img{
    max-width: 480px;
    max-height: 480px;
}
.cContentMultiPic{
    padding-top: 21px;
    margin-bottom: -37px;
}
.cContentMultiPic .img{
    display: inline-block;
    width: 258px;
    height: 258px;
    margin-right: 15px;
}

#btn_screen{
    position: fixed;
    top: 98px;
    left: 1075px;
    -webkit-animation-name: greenPulse;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    border-style: solid;
    border-radius: 4px;
    box-shadow: 0 -2px 0 rgba(0,0,0,0.2) inset !important;
    border-width: 0;
    cursor: pointer;
    line-height: normal;
    margin: 0 0 1.25em;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding-top: 0.75em;
    padding-right: 1.5em;
    padding-bottom: 0.8125em;
    padding-left: 1.5em;
    background-color: #2daebf;
    border-color: #238896;
    color: white;
    z-index: 99;
    font-size: 22px;
}
@-webkit-keyframes greenPulse {
    from { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
    50% { background-color: #91bd09; -webkit-box-shadow: 0 0 18px #91bd09; }
    to { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
}
.ButtonComment{
    position: absolute;
    top: 2049px;
    width: 1242px;
    height: 159px;
    background: url("../img/ButtonComment.png") no-repeat
}
