<div class="col-sm-4">
    <div class="form-group">
        <label class="control-label">平均阅读数</label>
        <div class="input-daterange input-group">
            <input type="text" name="AvgReadNumStart" value="" class="form-control" />
            <span class="input-group-addon">至</span>
            <div class="input-group">
                <input type="text" name="AvgReadNumEnd" value="" class="form-control" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-primary btn-outline" onclick="searchTable();">
                        确定
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-4">
    <div class="form-group">
        <label class="control-label">月发文数</label>
        <div class="input-daterange input-group">
            <input type="text" name="PostNumMin" value="" class="form-control" />
            <span class="input-group-addon">至</span>
            <div class="input-group">
                <input type="text" name="PostNumMax" value="" class="form-control" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-primary btn-outline" onclick="searchTable();">
                        确定
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-4">
    <div class="form-group">
        <label class="control-label">月发布频次</label>
        <div class="input-daterange input-group">
            <input type="text" name="PublishFrequencyMin" value="" class="form-control" />
            <span class="input-group-addon">至</span>
            <div class="input-group">
                <input type="text" name="PublishFrequencyMax" value="" class="form-control" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-primary btn-outline" onclick="searchTable();">
                        确定
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>
