<div class="col-sm-3">
    <div class="form-group">
        <label class="control-label">性别</label>
        <select name="Sex" class="form-control">
            <option value="">请选择</option>
            <option value="男">男</option>
            <option value="女">女</option>
        </select>
    </div>
</div>
<div class="col-sm-3">
    <div class="form-group">
        <label class="control-label">是否认证</label>
        <select name="IsAuthenticate" class="form-control">
            <option value="">请选择</option>
            <option value="true">是</option>
            <option value="false">否</option>
        </select>
    </div>
</div>
<div class="col-sm-3">
    <div class="form-group">
        <label class="control-label">平均浏览数</label>
        <div class="input-daterange input-group">
            <input type="text" name="AvgReadNumStart" value="" class="form-control" />
            <span class="input-group-addon">至</span>
            <div class="input-group">
                <input type="text" name="AvgReadNumEnd" value="" class="form-control" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-primary btn-outline" onclick="searchTable();">
                        确定
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-3">
    <div class="form-group">
        <label class="control-label">平均点赞数</label>
        <div class="input-daterange input-group">
            <input type="text" name="LikesNumMin" value="" class="form-control" />
            <span class="input-group-addon">至</span>
            <div class="input-group">
                <input type="text" name="LikesNumMax" value="" class="form-control" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-primary btn-outline" onclick="searchTable();">
                        确定
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-3">
    <div class="form-group">
        <label class="control-label">平均评论数</label>
        <div class="input-daterange input-group">
            <input type="text" name="CommentNumMin" value="" class="form-control" />
            <span class="input-group-addon">至</span>
            <div class="input-group">
                <input type="text" name="CommentNumMax" value="" class="form-control" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-primary btn-outline" onclick="searchTable();">
                        确定
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-3">
    <div class="form-group">
        <label class="control-label">平均转发数</label>
        <div class="input-daterange input-group">
            <input type="text" name="TransmitNumMin" value="" class="form-control" />
            <span class="input-group-addon">至</span>
            <div class="input-group">
                <input type="text" name="TransmitNumMax" value="" class="form-control" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-primary btn-outline" onclick="searchTable();">
                        确定
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>
