 <div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-content">
                <table id="table"></table>
            </div>
        </div>
    </div>
</div>
<div id="toolbar">
    <button class="btn btn-primary btn-outline" onclick="resetSearch();">
        <i class="fa fa-repeat"></i> 重置筛选条件
    </button>
</div>
